
    <div class="mini-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="copyright-text">
              <p>© 
                <a href="#">DigiPro</a>. All rights reserved. Created by
                <a href="#">Deals And Coupons Finder</a>
              </p>
            </div>
  
            <div class="go_top">
              <span class="icon-arrow-up"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  <!-- </footer> -->