


<div class="container-fluid">
    <img src="../../assets/images/food-news.jpg" style="height: 300px; width: inherit;">

    <div class="text" >
        <!-- <span class="hello">******************************Hey Hello*******************************</span><br> -->
        <span class="name">WE'RE COUPONS FINDER, </span><br>
        <span class="para">an independent comparison platform and information service that aims to provide you with the tools you need to make better decisions.</span><br>
        <span class="para"> While we are independent, we may receive compensation from our partners for featured placement of their products or services. </span> <br>
        <span class="para">We may also receive compensation if you click on certain links posted on our site.</span> <br><br>
        

    </div>



<!-- 
<app-header></app-header> -->


<!-- <div class="container">
  <h2>Carousel Example</h2>
  <div id="myCarousel" class="carousel slide" data-ride="carousel"> -->
    <!-- Indicators -->
    <!-- <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol> -->

    <!-- Wrapper for slides -->
    <!-- <div class="carousel-inner">

      <div class="item active">
        <img src="../../assets/images/corono.jpg" alt="Los Angeles" style="width:100%;">
        <div class="carousel-caption">
          <h3>Los Angeles</h3>
          <p>LA is always so much fun!</p>
        </div>
      </div>

      <div class="item">
        <img src="../../assets/images/food-news.jpg" alt="Chicago" style="width:100%;">
        <div class="carousel-caption">
          <h3>Chicago</h3>
          <p>Thank you, Chicago!</p>
        </div>
      </div>
    
      <div class="item">
        <img src="../../assets/images/corono.jpg" alt="New York" style="width:100%;">
        <div class="carousel-caption">
          <h3>New York</h3>
          <p>We love the Big Apple!</p>
        </div>
      </div>
  
    </div> -->

    <!-- Left and right controls -->
    <!-- <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div> -->

<!-- 
<app-footer></app-footer> -->




