<app-header></app-header>
<div class="container-fluid">
<span><h3>Coupons For all Food Blogs</h3></span>
<div class="container-fluid">

  <span><h4 style="text-align: center;">DELIVER-DOO</h4></span>
  <div class="row card-group">
    <div class="col-4" *ngFor="let deliverdooCouponsDetail of deliverdooCouponsDetails">

      <div class="card w-55 shadow-lg  mb-5 bg-white rounded" style="width:400px">
        <img class="card-img mx-auto" src="{{deliverdooCouponsDetail.image}}" alt="Card image" style="width: 220px;height: 220px;">
        <div class="card-body text-center">
          <h3 class="card-title">{{deliverdooCouponsDetail.heading}}</h3>
          <h4 class="card-title">{{deliverdooCouponsDetail.offer}}</h4>
          <p class="card-text"> {{deliverdooCouponsDetail.detailsInfo}}</p>
          <a href="#" class="btn btn-outline-primary stretched-link">Show Coupon</a>
        </div>
      </div>
    </div> 
</div>
</div>


<div class="container-fluid">

  <span><h4 style="text-align: center;">DOORDASH</h4></span>
  <div class="row card-group">
    <div class="col-4" *ngFor="let doordashCouponsDetail of doordashCouponsDetails">

      <div class="card w-55 shadow-lg  mb-5 bg-white rounded" style="width:400px">
        <img class="card-img mx-auto" src="{{doordashCouponsDetail.image}}" alt="Card image" style="width: 220px;height: 220px;">
        <div class="card-body text-center">
          <h3 class="card-title">{{doordashCouponsDetail.heading}}</h3>
          <h4 class="card-title">{{doordashCouponsDetail.offer}}</h4>
          <p class="card-text"> {{doordashCouponsDetail.detailsInfo}}</p>
          <a href="#" class="btn btn-outline-primary stretched-link">Show Coupon</a>
        </div>
      </div>
    </div> 
</div>
</div>

<div class="container-fluid">
  <span><h4 style="text-align: center;">SWIGGY</h4></span>
  <div class="row card-group">
    <div class="col-4" *ngFor="let swiggyCouponsDetail of swiggyCouponsDetails">

      <div class="card w-55 shadow-lg  mb-5 bg-white rounded" style="width:400px">
        <img class="card-img mx-auto" src="{{swiggyCouponsDetail.image}}" alt="Card image" style="width: 220px;height: 220px;">
        <div class="card-body text-center">
          <h3 class="card-title">{{swiggyCouponsDetail.heading}}</h3>
          <h4 class="card-title">{{swiggyCouponsDetail.offer}}</h4>
          <p class="card-text"> {{swiggyCouponsDetail.detailsInfo}}</p>
          <a href="#" class="btn btn-outline-primary stretched-link">Show Coupon</a>
        </div>
      </div>
    </div> 
</div>
</div>

<div class="container-fluid">
  <span><h4 style="text-align: center;">UBER-EATS</h4></span>
  <div class="row card-group">
    <div class="col-4" *ngFor="let uberCouponsDetail of uberCouponsDetails">

      <div class="card w-55 shadow-lg  mb-5 bg-white rounded" style="width:400px">
        <img class="card-img mx-auto" src="{{uberCouponsDetail.image}}" alt="Card image" style="width: 220px;height: 220px;">
        <div class="card-body text-center">
          <h3 class="card-title">{{uberCouponsDetail.heading}}</h3>
          <h4 class="card-title">{{uberCouponsDetail.offer}}</h4>
          <p class="card-text"> {{uberCouponsDetail.detailsInfo}}</p>
          <a href="#" class="btn btn-outline-primary stretched-link">Show Coupon</a>
        </div>
      </div>
    </div> 
</div>
</div>

<div class="container-fluid">

  <span><h4 style="text-align: center;">ZOMATO</h4></span>
  <div class="row card-group">
    <div class="col-4" *ngFor="let zomatoCouponsDetail of zomatoCouponsDetails">

      <div class="card w-55 shadow-lg  mb-5 bg-white rounded" style="width:400px">
        <img class="card-img mx-auto" src="{{zomatoCouponsDetail.image}}" alt="Card image" style="width: 220px;height: 220px;">
        <div class="card-body text-center">
          <h3 class="card-title">{{zomatoCouponsDetail.heading}}</h3>
          <h4 class="card-title">{{zomatoCouponsDetail.offer}}</h4>
          <p class="card-text"> {{zomatoCouponsDetail.detailsInfo}}</p>
          <a href="#" class="btn btn-outline-primary stretched-link">Show Coupon</a>
        </div>
      </div>
    </div> 
</div>
</div>







</div>
<app-footer></app-footer>
