<app-header></app-header>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card text-center" style="width: 100%;">
                <img class="card-img-top" src="../../assets/images/food-bg2.jpg" alt="Card image">
                 <div class="card-img-overlay">
                <div class="card-body">
                  <h5 class="card-title" style="color: white;">Restaurant & Dishes</h5>
                  <p class="card-text" style="color: white;">The best place to enjoy your day.</p>
                  <a href="/coupons" class="btn btn-outline-primary">Add coupons</a>
                </div>
                 </div>
              </div>
        </div>
    </div>
</div>

<app-footer></app-footer>